<!--pages/another_index/another_index.wxml-->
<view class='out'>

  <block wx:if="{{showLoading}}">
    <view class="page-loading">
      <text class="weui-loading" />
      <text class="loading-text">玩命加载中</text>
    </view>
  </block>
  <block wx:else>

    <scroll-view class="fixit" scroll-y="true">
      <view class="example">
        <view class="marquee_box">
          <view class="marquee_text" style="{{orientation}}:{{marqueeDistance2}}px;font-size: {{size}}px;">
            <text>{{text}}</text>
            <text wx:if="{{marquee2copy_status}}" style="margin-left:{{marquee2_margin}}px;">{{text}}</text>
          </view>
        </view>
      </view>
    </scroll-view>

    <scroll-view class="container" scroll-y="true" scroll-into-view='{{top}}'>

      <!-- <image src='/images/logo.jpg' class='logo'></image> -->
      <swiper id='top' class="swiper" indicator-dots="{{indicatorDots}}" autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}">
        <block wx:for="{{imgUrls}}">
          <swiper-item>
            <navigator url="{{item.link}}" hover-class="navigator-hover">
              <image src="{{item.url}}" class="slide-image" width="750" height="400" />
            </navigator>
          </swiper-item>
        </block>
      </swiper>

      <view wx:if="{{card_up}}">

        <image src='/images/vip_card.jpeg' class='vip_card_photo'></image>

        <view class='vip_info'>

          <image src="{{vip_touxiang}}" class='vip_touxiang'></image>

          <view class='vip_text'>

            <text class='vip_text1'>{{vip_name}}</text>

            <text class='vip_text2' wx:if="{{vip_info.vip_state != 1 }}">游客</text>
            <block wx:else>
              <text class='vip_text2'>{{vip_info.vip_name}}</text>
              <text class='vip_text3'>有效期至:{{vip_info.valid_end_timestamp}}</text>
              <!-- {{vip_info.valid_start_timestamp}} --  -->
            </block>

          </view>

          <view class='kaika_out' wx:if="{{vip_info.vip_state != 1 }}" bindtap='activate'>
            <text>立即开卡</text>
          </view>

        </view>

        <image src='/images/arrow_down.png' class='card_down' bindtap='card_up_down'></image>

      </view>

      <image wx:if="{{!card_up}}" src='/images/arrow_up.png' class='card_up' bindtap='card_up_down'></image>

      <view class='logo_text_out'>
        <text class='logo_text'>{{comfirm_setting.company_name}}</text>
      </view>

      <view class='map' bindtap='changeshop'>
        <text class='map_text'>{{comfirm_setting.shop_name}}</text>
        <text class='map_text map_margin'>|</text>
        <image class='map_mark map_margin' src='/images/map.png'></image>
        <text class='map_text2'> 切换门店</text>
      </view>
      <view class="men">
        <view class="blo" bindtap='daka'>
          <image class="pic" src="/images/sign_gift.png"></image>
          <view class="some">
            <text class="tit">签到有奖</text>
          </view>
        </view>
        <view class="blo" bindtap='scan'>
          <image class="pic" src="/images/scan.png"></image>
          <view class="some">
            <text class="tit">扫码扣次</text>
          </view>
        </view>
        <view class="blo" bindtap='toPaying'>
          <image class="pic2" src="/images/buy.png"></image>
          <view class="some">
            <text class="tit">优惠买单</text>
          </view>
        </view>
        <view class="blo" bindtap='recha'>
          <image class="pic" src="/images/recha.png"></image>
          <view class="some">
            <text class="tit">充值有奖</text>
          </view>
        </view>
      </view>

      <scroll-view scroll-x='true' class='date'>

        <block wx:for="{{to_show_dates}}">

          <view class='day' bindtap='choose_day' data-index='{{index}}'>

            <view class='day_sub'>

              <view class='day_one {{currentDay == index ? "black" : "white"}}'>

                <block wx:if="{{index == 0}}">
                  <text>{{item.day}}</text>
                  <text>今天</text>
                </block>

                <block wx:else>
                  <text>{{item.day}}</text>
                  <text wx:if="{{item.weekday == '1'}}">周一</text>
                  <text wx:if="{{item.weekday == '2'}}">周二</text>
                  <text wx:if="{{item.weekday == '3'}}">周三</text>
                  <text wx:if="{{item.weekday == '4'}}">周四</text>
                  <text wx:if="{{item.weekday == '5'}}">周五</text>
                  <text wx:if="{{item.weekday == '6'}}">周六</text>
                  <text wx:if="{{item.weekday == '7'}}">周日</text>
                </block>

              </view>

              <view class='day_two'>
                <text>{{item.discount_shops}}</text>
              </view>

            </view>

          </view>

        </block>

      </scroll-view>

      <scroll-view scroll-x="true" class='industries'>
        <block class="swiper-tab" wx:for="{{industries}}">

          <view class="tab-item {{currentTab == index ? 'on' : ''}}" data-current="{{index}}" bindtap="swichNav">{{item.industry_name}}</view>

        </block>

      </scroll-view>

      <block wx:for='{{shops}}'>

        <view class='one_shop' data-index='{{index}}' bindtap='toShopDetail'>

          <image src='{{item.photo_url}}' class='shop_photo'></image>

          <view class='shop_text'>
            <text class='shop_name'>{{item.shop_name}}</text>
            <view class='shop_discount'>结算
              <text class='discount'>{{item.discount}}</text>折优惠</view>
            <text class='shop_address'>{{item.address}}</text>
          </view>

        </view>

      </block>

      <view class='addbot' bindtap='about'>
        <view class='addbotone'>会员精灵 提供技术支持</view>
        <view class='addbottwo'>国内领先的新零售智能商业服务商</view>
      </view>
      <view class='rubbish'></view>
    </scroll-view>
  </block>

  <view class="drawer_screen" bindtap="powerDrawer" data-statu="close" wx:if="{{isshow}}"></view>
  <form class='con' wx:if="{{isshow}}" bindsubmit="formSubmit" bindreset="formReset" report-submit="true">
    <view class='gra'>
      <view class='tcir'></view>
      <view class='hap'>今日首次登陆</view>
    </view>
    <view class='sco'>
      <text class='tx1'>恭喜获得 </text>
      <text class='tx2'>积分 +{{add_point}}</text>
    </view>
    <view class='sco2'>
      <text class='tx1'>每日登陆 可兑换好礼哦！</text>
    </view>
    <!-- <view class='inv'>
    <text class='tx3'>邀请者：</text>
    <text class='tx4'>{{sharer_username}}</text>
  </view>
  <view class='get'>
    <text class='tx1'>ta已获得 </text>
    <text class='tx5'>积分 +{{sharer_add_point}}</text>
  </view> -->
    <view class="btn-area">
      <button class='but' formType="submit">确 定</button>
    </view>
  </form>
  <view class='cir' wx:if="{{isshow}}">
    <image class='scir' src='/images/gift.png'></image>
  </view>
  <include src='/pages/bottom_menu/bottom_menu' />

  <image src='/images/toTop.png' class='toTop' bindtap='toTop'></image>

</view>