/* pages/sharing/sharing.wxss */

page {
  width: 100%;
  height: 100%;
}

.whole {
  width: 100%;
  height: 100%;
}

.touxiang {
  margin-top: 150rpx;
  margin-left: 285rpx;
  margin-right: 285rpx;
  width: 180rpx;
  height: 180rpx;
  border-radius: 50%;
  background-color: white;
}

.nam {
  margin-top: 10rpx;
  text-align: center;
  color: white;
  overflow: hidden;
  /* 超出一行文字自动隐藏 */
  text-overflow: ellipsis;
  /* 文字隐藏后添加省略号 */
  white-space: nowrap;
  /* 强制不换行 */
  font-size: 38rpx;
}

.rul {
  width: 100%;
  height: 300rpx;
  align-items: center;
  margin-top: 280rpx;
}

.ite {
  width: 100%;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  text-align: center;
}

.pco {
  color: white;
  font-size: 35rpx;
}

.tco {
  color: orange;
  font-size: 37rpx;
  font-weight: bold;
}

.inv {
  margin-top: 40rpx;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 80rpx;
  border-radius: 10rpx;
  background-color: white;
  color: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
