<!--pages/myprize/myprize.wxml-->
<block wx:for="{{show_data}}">
  <view class="weui_cell">
    <view class="weui_cell_hd">
      <view class="jifentu">
        <image src="{{item.photo_url}}"></image>
      </view>
    </view>
    <view class="weui_cell_bd">
      <view class="weui_cell_bd_p"> {{item.goods_name}} </view>
      <view class="moment">中奖时间：{{item.create_timestamp}}</view>
    </view>
    <view class="weui_cell_cd">
      <form wx:if="{{(item.state=='0')}}" bindsubmit="formSubmit" bindreset="formReset" report-submit="true">
        <view class="section" hidden='true'>
          <view class="section__title">input</view>
          <input name="idx" placeholder="please input here" value="{{item.id}}" />
        </view>
        <view class="btn-area">
          <button class="lingqu" formType="submit">
            <text class=" xiaozi2 ">领取</text>
          </button>
        </view>
      </form>
      <view wx:else>
        <button class="lingqu2 ">
          <text class="xiaozi4 ">已领取</text>
        </button>
      </view>
    </view>
  </view>
</block>